:root{
    --main-bg-color: #ffffff;
    --main-bg-color-alt: #000000;
    --main-text-color: #ff0000;
    --main-font-family: "Roboto", sans-serif;
    --main-font-size: 16px;
}
body{
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    font-family: var(--main-font-family);
    font-size: var(--main-font-size);
    line-height: 1.5;
    padding: 0 1em;
}
header{
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    text-align: center;
    padding: 1em 0;
    margin: 0;
    border-radius: 10px;
}
p{
    margin: 1em 0;
    padding: 0.5em 0;
    text-align: justify;
    color: var(--main-text-color);
    background-color: var(--main-bg-color-alt);
}
h2{
    font-size: 1.5em;
    margin: 0.5em 0;
    padding: 0.5em 0;
    text-align: center;
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
}
nav{
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
}
nav a{
    list-style: none;
    padding: 0.5em 1em;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
    background-color: var(--main-bg-color-alt);
    color: var(--main-text-color);
    border-radius: 10px;
    text-decoration: none;
}
nav a:hover{
    background-color: var(--main-text-color);
    color: var(--main-bg-color);
}
nav a.active{
    background-color: var(--main-text-color);
    color: var(--main-bg-color);
}
main{
    background-color: var(--main-bg-color-alt);
    color: var(--main-text-color);
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
main h2{
    font-size: 1.5em;
    margin: 0.5em 0;
    padding: 0.5em 0;
    text-align: center;
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
}
footer{
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    text-align: center;
    padding: 1em 0;
    margin: 0;
    border-radius: 10px;
}
footer p{
    margin: 0;
    padding: 0.5em 0;
    text-align: center;
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
}
img{
    display: block;
    margin: 0 auto;
    background-color: var(--main-bg-color);
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}